.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}

.shadow-up {
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.shadow-down {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.column-25 {
  width: 25%;
  float: left;
}

.column-33 {
  width: 33.33%;
  float: left;
}

.container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 960px) {
  .column-25 {
    float: left;
    width: 50%;
  }
}

@media (max-width: 740px) {
  .column-33 {
    float: none;
    width: auto;
  }

  .column-25 {
    width: 100%;
    float: center;
  }
}

@media (max-width: 440px) {
  .column-25 {
    float: none;
    width: auto;
  }
}
